<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -Indexes -Multiviews
    </IfModule>

    RewriteEngine On
    RewriteBase /ukk/public

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>